RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|assets|robots\.txt|content|apple-touch-icon.png|apple-touch-icon-precomposed.png|favicon.ico)
RewriteRule ^(.*)$ index.php/$1 [L]